ul, ol { list-style: none; }
hr { border: 0; border-top: 1px solid #b2b2b2; }
a { text-decoration: none; color: currentColor; }
img { display: block; max-width: 100%; height: auto; }
html { font-size: 16px; font-family: 'Inter', sans-serif; }
*,*::before,*::after { margin: 0; padding: 0; box-sizing: border-box; }

/* Layout */
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }

.none { display: none; }

/* Flex */
.flex { display: flex; }
.ai-center { align-items: center; }
.ai-start { align-items: flex-start; }
.jc-end { justify-content: flex-end; }
.jc-center { justify-content: center; }
.ac-start { align-content: flex-start; }
.jc-between { justify-content: space-between; }

.flex-grow-1 { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.flex-wrap { flex-wrap: wrap; }

.flex-auto { flex: 1 1 auto; }
.flex-1 { flex: 1; }

.flex-16 { flex: 16%; }
.flex-84 { flex: 84%; }

/* Dimension */
.p-2 { padding: 0.125rem; }
.p-4 { padding: 0.25rem; }
.p-8 { padding: 0.5rem; }
.p-16 { padding: 1rem; }
.p-32 { padding: 2rem; }

.py-4 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-8 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-16 { padding-top: 1rem; padding-bottom: 1rem; }

.p-track { padding-top: 0.5rem; padding-bottom: 1rem; }
.pb-96 { padding-bottom: 6rem; }

.px-4 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-8 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-16 { padding-left: 1rem; padding-right: 1rem; }
.px-32 { padding-left: 2rem; padding-right: 2rem; }

.m-4 { margin: 0.25rem; }
.m-8 { margin: 0.5rem; }
.m-16 { margin: 1rem; }
.m-32 { margin: 2rem; }

.mt-72 { margin-top: 4.5rem; }

.ml-4 { margin-left: 0.25rem; }
.ml-8 { margin-left: 0.5rem; }
.ml-16 { margin-left: 1rem; }

.mr-8 { margin-right: 0.5rem; }
.mr-16 { margin-right: 1rem; }
.mx-8 { margin-left: .5rem; margin-right: .5rem; }
.mx-16 { margin-left: 1rem; margin-right: 1rem; }

.w-16 { width: 1rem; }
.w-20 { width: 1.25rem; }
.w-24 { width: 1.5rem; }
.w-32 { width: 2rem; }
.w-36 { width: 2.25rem; }

.w-96 { width: 6rem; }
.w-480 { width: 30rem; }

.max-w-480 { max-width: 30rem; }

.w-10p { width: 10%; }
.w-33p { width: 33.33333%; }
.w-40p { width: 40%; }
.w-50p { width: 50%; }
.w-60p { width: 60%; }
.w-80p { width: 80%; }
.w-100p { width: 100%; }

.max-w-56 { max-width: 3.5rem; }
.max-w-256 { max-width: 12rem; }


.h-4 { height: .25rem; }
.h-16 { height: 1rem; }
.h-20 { height: 1.25rem; }
.h-24 { height: 1.5rem; }
.h-32 { height: 2rem; }
.h-36 { height: 2.25rem; }
.h-96 { height: 6rem; }

.h-100p { height: 100%; }
.h-full { height: 100vh; }
.max-h-100p { max-height: 100%; }
.max-h-screen { max-height: 100vh; }

.t-0 { top: 0; }
.b-0 { bottom: 0; }
.l-0 { left: 0; }

/* Colors */
.bg-gray { background-color: #555555; }
.bg-white { background-color: #ffffff; }
.bg-green { background-color: #1db954; }
.bg-black { background-color: #121212; }
.bg-midblack { background-color: #181818; }
.bg-pureblack { background-color: #000000; }
.bg-lightgray { background-color: #b2b2b2; }
.bg-black-alpha-40 { background-color: rgba(0, 0, 0, 0.40); }
.bg-gradient-blue-green { background: linear-gradient(135deg,#450af5,#c4efd9); }

.clr-gray { color: #555555; }
.clr-white { color: #ffffff; }
.clr-green { color: #1db954; }
.clr-black { color: #121212; }
.clr-midblack { color: #121212; }
.clr-lightgray { color: #b2b2b2; }

/* Typography */
.fsz-14 { font-size: .875rem; line-height: 1.25rem; }
.fsz-16 { font-size: 1rem; line-height: 1.5rem; }
.fsz-20 { font-size: 1.25rem; line-height: 1.5rem; }
.fsz-24 { font-size: 1.5rem; line-height: 1.875rem; }

.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }

.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }

/* Border */
.bdrd-2 { border-radius: .125rem; }
.bdrd-full { border-radius: 999999px; }

.bd-top-1 { box-shadow: 0 -1px 0 0 #282828; }
.bd-2 { box-shadow: 0 0 0 1.5px #ffffff; }

/* Misc */
.z-0 { z-index: 0; }
.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-90 { z-index: 90; }
.cup { cursor: pointer; }
.ov-hidden { overflow: hidden; }
.transition { transition: 0.1s ease-in; }
.ov-auto { overflow: auto; scrollbar-width: none; }
.obj-fit img { width: 100%; max-height: 100%; object-fit: contain; }
.aspect-radio { width: 100%; padding-bottom: 100%; overflow: hidden; }
.list-active::before { align-self: center; position: absolute; content: ''; height: 80%; width: 3px; background-color: #1db045;}

/* Hover */
.linked:hover { color: #b2b2b2;}
.linked:hover::before { display: flex;}
.linked.linked-active::before { display: flex;}
.linked::before { position: absolute; content: ''; display: none; width: 50%; top: 100%; height: 2px; background-color: #1db954; left: 50%; transform: translateX(-50%); }

.playlist:hover { color: #ffffff; cursor: pointer; }
.playlist:hover::before { content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.40); position: absolute; top: 0; left: 0; }
.playlist:hover::after { content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3EPlay%3C/title%3E%3Cpath d='M133 440a35.37 35.37 0 01-17.5-4.67c-12-6.8-19.46-20-19.46-34.33V111c0-14.37 7.46-27.53 19.46-34.33a35.13 35.13 0 0135.77.45l247.85 148.36a36 36 0 010 61l-247.89 148.4A35.5 35.5 0 01133 440z' fill='%23fff'/%3E%3C/svg%3E"); width: 3rem; height: 3rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.button:hover { transform: scale(1.1); cursor: pointer; }

.clr-white-hover:hover { color: #ffffff; }
.text-underline-hover:hover { text-decoration: underline; }

.track-hover:hover > span { background-color: #1db045; }
.track-hover:hover > span > .progress-track  { display: flex; }
.progress-track { cursor: pointer; left: 100%; display: none; transform: translateX(-50%); }

/* Media */
/* @media screen and (max-width: 1280px) { #app { background-color: blue; }}
@media screen and (max-width: 980px) { #app { background-color: green; } } */
@media screen and (max-width: 736px) { 

 }
@media screen and (max-width: 480px) { 
        /* Sidebar */
        [data-name="sidebar"] { flex: 1; }
        [data-name="sidebar"] a { margin: 0; padding: .5rem 0; }
        [data-name="sidebar"] a span { margin: 0; padding: 0; }

        [data-name="divider"], [data-name="sidebar"] [data-name="sidebar-actions"], [data-name="sidebar"] [data-name="sidebar-playlist"] { display: none; }
    
        [data-name="sidebar-logo"] > span > img:first-of-type {
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0;
        }
        [data-name="sidebar-logo"] > span > img:last-of-type { display: flex; }
        [data-name="sidebar-logo"] > span:last-of-type {
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0;
        }
        
        [data-name="sidebar-logo"] > span > img:first-of-type {
            display: none;
        }
        [data-name="sidebar-list"] > li > a span:last-of-type {
            display: none;
        }
        [data-name="sidebar-list"] > li > a { align-items: center; justify-content: center; }
        [data-name="sidebar-user"] { flex-grow: 1; align-items: center; justify-content: end; }
        [data-name="sidebar-user"] [data-name="divider"] { display: none; }
        [data-name="sidebar-user"] > a span:last-of-type { display: none; }

        /* Action Bar */
        [data-name="action-block-1"] li:nth-child(2), [data-name="action-block-1"] li:nth-child(3) { display: none; }
        [data-name="action-block-1"] li:first-of-type { width: 3.5rem; height: 3.5rem; margin: 0; }
        [data-name="action-block-3"] { display: none; }

        [data-name="action-block-2"] [data-name="progress-component"] > div { width: 12rem; }

        /* Another Navigation */
        [data-name="another-navigation"] { flex-wrap: wrap; }
        [data-name="another-navigation"] li { width: 100%; }
        [data-name="another-navigation"] li a::before { width: 10%; }
        [data-name="another-navigation"] li a { width: 100%; margin: .5rem 0; justify-content: center; }

        /* Playlist Navigarion */
        [data-name="playlist-navigation"] ul, [data-name="daily-navigation"] ul, [data-name="author-navigation"] ul { display: flex; align-items: center; justify-content: center; }
        [data-name="playlist-navigation"] h2, [data-name="daily-navigation"] h2, [data-name="author-navigation"] h2 { text-align: center; }
        [data-name="playlist-navigation"] h4, [data-name="daily-navigation"] h4, [data-name="author-navigation"] h4 { text-align: center; margin-bottom: 0.5rem; }
        [data-name="playlist-navigation"] li, [data-name="daily-navigation"] li, [data-name="author-navigation"] li { width: 12rem; }
 }
